* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #36393d;
    --secondary-color: #78868a;
    --tertiary-color: #cea09a;
    --primary-highlight: #e7e7e7;
    --secondary-highlight: #495456;
    --tertiary-highlight: #929292;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: var(--primary-color);
    color: var(--primary-highlight);
}

/* header/nav start */
header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
}

header h1 { 
    font-weight: bold;
    font-size: 45px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* nav start */
header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.85vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: var(--primary-highlight);
    text-decoration: underline;
    text-shadow: none;
}
/* header/nav start */

/* footer start */
footer {
    background: var(--tertiary-color);
    width: 100%;
    padding: 40px 35px;
    text-align: center;
    color: var(--primary-color);
    font-size: 25px;

}
/* footer end */

/* hero start */
.hero {
    background-image: url("../Images/hero.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

.hero p {
    margin: 30px;
    padding: 160px;
    font-size: 18px;
    color: var(--primary-highlight);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* hero end */

/* section style start */
.section-title {
    font-size: 35px;
    color: var(--tertiary-color);
    text-align: center;
    width: 100%;
    padding: 15px;
}
/* section style end */

/* about me start */
.aboutme {
    width: 100%;
    padding: 25px 15px;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bio img{
    max-width: 45%;
    padding: 35px;
    flex: 0 25%;
}

.bio-text {
    width: 50%;
    padding: 35px 45px 35px 0;
    text-align: left;
}

.bio-text h3 {
    color: var(--secondary-color);
    font-size: 30px;
    padding: 15px 0 8px 0;
}

.bio-text h4 {
    color: var(--tertiary-color);
    font-size: 16px;
    font-weight: light;
    font-style: oblique;
    padding: 0 0 8px 0;
}

.bio-text p {
    color: var(--primary-highlight);
}
/* about me end */

/* applications start */
.applications {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.application {
    padding: 15px;
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
    flex: 0 25%;
}

.application p {
    color: var(--primary-highlight);
}

.applications img {
    width: 100%;
    border-color: var(--secondary-highlight);
    border-width: 15px;

}

.first-app {
    flex: 0 100%;
}

.first-app img{
    width: 50%;
}

/* MEET THE TRAINERS END */

/* contact start */
.contactinfo address{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.contactinfo p, a {
    font-style: normal;
    color: var(--primary-highlight);
    text-decoration: none;
    text-align: left;
}

.contactinfo span {
    color: var(--secondary-color);
}
/* contact end */

/* work section start */
.work {
    background: var(--primary-color);
}

/* media queires for desktop screens and smaller */
@media screen and (max-width: 980px) {
    header nav ul li a {
        font-size: 2.5vw;
    }

    .hero p {
        padding: 0;
    }

    section {
        padding: 8px 50px;
    }

    .bio img {
        max-width: 50%;
        padding: 35px;
        flex: 0 25%;
    }

    .bio-text {
        width: 50%;
        padding: 0 35px 0 35px;
        text-align: left;
    }

    .application {
        flex: 0 25%;
    }

    .first-app {
        flex: 0 100%;
    }

    .first-app img {
        width: 100%;
    }
}

/* media query for tablets and smaller */
@media screen and (max-width: 768px) {
    header nav ul li a {
        font-size: 3vw;
    }

    section {
        padding: 10px 25px;
    }
 
    .bio img {
        max-width: 100%;
        padding: 35px;
        flex: 0 25%;
    }

    .bio-text {
        width: 100%;
        padding: 0 35px 0 35px;
        text-align: left;
    }

    .application {
        flex: 0 50%;
    }

    .first-app {
        flex: 0 100%;
    }

    .first-app img {
        width: 100%;
    }
}

/* media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    header nav ul li a {
        font-size: 3.55vw;
    }
    
    .hero p {
        justify-content: right;
    }

    section {
        padding: 30px 15px;
    }
    
    .bio img {
        width: 100%;
        flex: 1 100%;
    }

    .bio p {
        width: 100%;
    }

    .application {
        flex: 0 50%;
    }

    .first-app {
        flex: 0 100%;
    }

    .first-app img {
        width: 100%;
    }
}
/* media query end */