* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #36393d;
    --secondary-color: #78868a;
    --tertiary-color: #cea09a;
    --primary-highlight: #e7e7e7;
    --secondary-highlight: #495456;
    --tertiary-highlight: #929292;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: var(--primary-color);
    color: var(--primary-highlight);
}

/* header/nav start */
header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 100%;
    z-index: 9999;
}

header h1 { 
    font-weight: bold;
    font-size: 45px;
    color: var(--tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* nav start */
header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    color: var(--primary-highlight);
    text-decoration: underline;
    text-shadow: none;
}
/* header/nav start */

/* footer start
footer {
    background: var(--primary-color);
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

footer div {
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: var(--secondary-color);
}

section {
    padding: 60px;
}
footer end */

/* hero start */
.hero {
    background-image: url("../Images/hero.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: 70vh;
}

.hero p {
    width: 100%;
    margin: 100px;
    font-size: 18px;
    color: var(--primary-highlight);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/* hero end */

/* section style start */
.section-title {
    font-size: 35px;
    color: var(--tertiary-color);
    text-align: center;
}
/* section style end */

/* about me start */
.aboutme {
    width: 100%;
    padding: 25px 15px;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bio img{
    max-width: 50%;

}

.bio-text {
    text-align: left;
    flex-grow: 2;
    flex-basis: 0;
}
/* about me end */

/* MEET THE TRAINERS START */
.applications {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.application {
    padding: 15px;
    width: 100%;
    text-align: center;
    color: var(--secondary-color);
}

.application p {
    color: var(--primary-highlight);
}

.applications img {
    width: 100%;
    border-color: var(--secondary-highlight);
    border-width: 15px;
}

.first-app img{
    width: 100%;
}

.application img:hover {
    border: 15px var(--tertiary-color);
}

/* MEET THE TRAINERS END */


/* work section start */
.work {
    background: var(--primary-color);
}

/* MEDIA QUERIES FOR SMALLER DESKTOP SCREENS AND SMALLER 
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }

    .hero-cta, .hero-form {
        width: 100%;
    }

    .hero-cta {
        text-align: center;
    }
    
    .section-title {
        width: 80%;
    }

    .trainer {
        flex: 0 70%;
    }

    .contact-info iframe {
        flex: 1 100%;
    }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER 
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
    
    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
}
*/
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    header nav ul li a {
        font-size: 3.55vw;
    }
    
    section {
        padding: 30px 15px;
    }
    
    .section-title {
        width: 100%;
    }

    .bio img {
        width: 100%;
    }

    .bio p {
        width: 100%;
    }

    .application {
        flex: 0 50%;
    }

    .first-app {
        flex: 0 100%;
    }

    .first-app img {
        width: 100%;
    }
}
/* MEDIA QUERIES END*/